yarn.nodemanager.local-dirs={{ hadoop_workspace | join("/nodemgr,") }}/nodemgr
yarn.nodemanager.log-dirs={{ hadoop_workspace | join("/yarnLogs,") }}/yarnLogs
yarn.nodemanager.linux-container-executor.group=hadoop
banned.users=hdfs,yarn,mapred,hadoop
min.user.id=10000
allowed.system.users=nobody
