<?xml version="1.0"?>
<allocations>
  <fairSharePreemptionTimeout>600</fairSharePreemptionTimeout>
  <userMaxAppsDefault>600</userMaxAppsDefault>
  <queue name="default">
    <minResources>10240 mb, 5 vcores</minResources>
    <maxResources>20480 mb, 10 vcores</maxResources>
    <maxRunningApps>25</maxRunningApps>
    <weight>0.5</weight>
    <schedulingMode>fifo</schedulingMode>
  </queue>
</allocations>

