node.environment={{ presto_env }}
node.id={{ uuid.stdout }}
node.data-dir={{ presto_data_dir }}
plugin.config-dir=/etc/presto/catalog
plugin.dir=/usr/lib/presto/lib/plugin
node.server-log-file=/var/log/presto/server.log
node.launcher-log-file=/var/log/presto/launcher.log
