tickTime=2000
initLimit=20
syncLimit=5
dataDir={{ zookeeper_workspace }}/data
dataLogDir={{ zookeeper_workspace }}/logs
clientPort=2181
maxClientCnxns=1000
autopurge.snapRetainCount=3
autopurge.purgeInterval=6
skipACL=yes

{% for zk in groups['zookeeper'] %}
server.{{ loop.index }}={{ zk }}:2888:3888
{% endfor %}

