define contact{
        contact_name                    nagiosadmin
	use				generic-contact
        alias                           Nagios Admin
        email                           {{ nagios_admin_email }}
	pager				123456
        }

define contact{
        contact_name                    haiqiang.li
	use				generic-contact
        alias                           haiqiang.li
        email                           lhq@python279.org
	pager				18621578639
        }

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin
        }
