#!/usr/bin/env python
# -*- coding: utf-8 -*-


if __name__ == '__main__':
    import os
    import sys
    reload(sys)
    sys.setdefaultencoding("utf-8")

    from optparse import OptionParser
    parser = OptionParser()
    parser.add_option("-r", dest="recipient", default=None, help="recipient")
    parser.add_option("-s", dest="subject", default=None, help="subject")
    parser.add_option("-b", dest="body", default=None, help="body")

    print options
