define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             gmond process
        check_command                   check_tcp!8649
}

define service{
        use                             generic-service
	hostgroup_name			gmetad-hosts
        service_description             gmetad process
        check_command                   check_tcp!8651
}

define service{
        use                             generic-service
        hostgroup_name                  gmetad-hosts,nagios-hosts
        service_description             httpd process
        check_command                   check_tcp!80
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             load_one
        check_command                   check_ganglia_metrics!load_one!8!16!gt
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             load_five
        check_command                   check_ganglia_metrics!load_five!4!8!gt
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             load_fifteen
        check_command                   check_ganglia_metrics!load_fifteen!2!4!gt
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             free_physical_memory_ratio
        check_command                   check_ganglia_metrics_ratio!mem_free!mem_total!0.2!0.1!lt
}
