define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             gmond process
        check_command                   check_tcp!8649
}

define service{
        use                             generic-service
	hostgroup_name			gmetad-hosts
        service_description             gmetad process
        check_command                   check_tcp!8651
}

define service{
        use                             generic-service
        hostgroup_name                  gmetad-hosts,nagios-hosts
        service_description             httpd process
        check_command                   check_tcp!80
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             load_one
        check_command                   check_ganglia_metrics!load_one!8!16!gt
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             load_five
        check_command                   check_ganglia_metrics!load_five!4!8!gt
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             load_fifteen
        check_command                   check_ganglia_metrics!load_fifteen!2!4!gt
}

define service{
        use                             generic-service
        hostgroup_name                  cluster-hosts
        service_description             free_physical_memory_ratio
        check_command                   check_ganglia_metrics_ratio!mem_free!mem_total!0.2!0.1!lt
}

{% if groups.zookeeper is defined %}
define service{
        use                             generic-service
        hostgroup_name                  zookeeper-hosts
        service_description             zookeeper process
        check_command                   check_tcp!2181
}
{% endif %}

{% if groups.namenode is defined %}
define service{
        use                             generic-service
        hostgroup_name                  namenode-hosts
        service_description             namenode process
        check_command                   check_tcp!9000
}
{% endif %}

{% if groups.journalnode is defined %}
define service{
        use                             generic-service
        hostgroup_name                  journalnode-hosts
        service_description             journalnode process
        check_command                   check_tcp!8485
}
{% endif %}

{% if groups.datanode is defined %}
define service{
        use                             generic-service
        hostgroup_name                  datanode-hosts
        service_description             datanode process
        check_command                   check_tcp!50010
}
{% endif %}
